html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 Please, confirm new email in uni-ar
            p
                strong Follow with this link:
                p= url
                p Then sign in with your new email and password
                p If you did not do it then just ignore that