extends layout

block content
    #myModal.modal
        .modal-content
            .modal-header
                span.close() ×
                h2 Change password
            form(method="post")
                .modal-body
                    label(for='password') New Password
                    input#password(type='password', maxlength='32', name='password', pattern='^[_A-z0-9]{1,}$', minlength='8', required)

                    div#check
                        label(for='password2') Repeat Password
                        input#password2(type='password', maxlength='32', name='password2', pattern='^[_A-z0-9]{1,}$',
                            minlength='8', oninput="checkPassword()", required)
                        if error
                            .error-text  Error! Try again please
                .modal-footer
                    button#loadbutton.default-button(type='submit') Save
                    a.close-link Close
            script.
                function checkPassword() {
                    var password = document.getElementById("password");
                    var password2 = document.getElementById("password2");
                    var check = document.getElementById("check");

                    if (password.value != password2.value) {
                        check.className = "has-error";
                    } else {
                        check.className = "has-success";
                    }
                }
