/* The Modal (background) */
.modal 
  display block /* Hidden by default */
  position fixed /* Stay in place */
  //z-index 0.5 /* Sit on top */
  padding-top 100px /* Location of the box */
  left 0
  top 0
  width 100% /* Full width */
  height 100% /* Full height */
  overflow auto /* Enable scroll if needed */
  background-color rgb(0,0,0) /* Fallback color */
  background-color rgba(0,0,0,0.4) /* Black w/ opacity */


/* Modal Content */
.modal-content 
  position relative
  background-color #fefefe
  margin auto
  padding 0
  border 1px solid #888
  width 40%
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  -webkit-animation-name animatetop
  -webkit-animation-duration 0.4s
  animation-name animatetop
  animation-duration: 0.4s


/* Add Animation */
@-webkit-keyframes animatetop 
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}


@keyframes animatetop
  from {top:300px; opacity:0}
  to {top:0; opacity:1}



/* The Close Button */
.close 
  color darkgrey
  float right
  font-size 28px
  font-weight bold


.close:hover,
.close:focus 
  color #000
  text-decoration none
  cursor pointer


.modal-header 
  padding 5px 16px
  background-color #fefefe
  color black

.modal-body
  padding 2px 16px

.modal-footer 
  padding 2px 16px
  padding-bottom 22px
  background-color #fefefe
  color black

.close-link
  cursor pointer
  margin 12px

.close-link:hover
  color darkred

.modal-header h2
  margin-left 0
  margin-right 0