.sub-menu-parent
  position relative
  height 100%

.sub-menu 
  visibility hidden /* hides sub-menu */
  margin 0
  padding-left 0
  opacity 0
  position absolute
  background-color white
  min-width 160px
  box-shadow 0px 5px 10px 0px rgba(0,0,0,0.2)
  top 90%
  transform translateY(-2em)
  z-index 1
  transition all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s


.sub-menu-parent:hover .sub-menu
  visibility visible
  opacity 1
  z-index 1
  transform translateY(0%)
  transition-delay 0s, 0s, 0.3s


.sub-menu-item 
  color limegreen
  padding 10px 16px
  text-decoration none
  display inherit
  cursor pointer


.sub-menu-item:hover
  background-color #f1f1f1

ul 
  list-style-type none

.drpdown-item
  display block
  -webkit-flex-shrink 0
  -ms-flex-negative 0
  flex-shrink 0
  height 53px
  line-height 64px
  padding-left 22px
  padding-right 22px
  color nav-font-color
  font-size 16px

.drpdown-item.drpdown-link {
  line-height 54px
  color nav-font-color
  border-bottom 2px solid transparent
  cursor pointer
  text-decoration none
}

.drpdown-icon
  vertical-align middle