nav-font-color = limegreen

.area {
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-flow row wrap
  -ms-flex-flow row wrap
  flex-flow row wrap
  -webkit-box-align stretch
  -webkit-align-items stretch
  -ms-flex-align stretch
  align-items stretch
  margin-left auto
  margin-right auto
  height 55px
  z-index 999
}
@media (min-width 768px) {
  .area {
    width 750px
  }
}
@media (min-width 992px) {
  .area {
    width 970px
  }
}
@media (min-width 1200px) {
  .area {
    width 1140px
  }
}
.navbar-component {
  background-color white
  width 100%
  opacity 0.96
  height 55px
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
}
.navbar-component > .navbar {
  -webkit-box-pack justify
  -webkit-justify-content space-between
  -ms-flex-pack justify
  justify-content space-between
}
.navbar > .brand {
  display block
  font-size 24px
  color nav-font-color
  margin 11px
  text-decoration none
}
.navbar > .brand:hover {
  color #333333
}
.navbar > .list {
  display none
  -webkit-flex-flow row nowrap
  -ms-flex-flow row nowrap
  flex-flow row nowrap
  -webkit-box-align center
  -webkit-align-items center
  -ms-flex-align center
  align-items center
  white-space nowrap
}
@media (min-width 768px) {
  .navbar > .list {
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
  }
}
@media (max-width 768px) {
  .navbar > .list {
    position fixed
    top 53px
    left 0
    width 100%
  //overflow-y hidden
  //overflow-x auto
    border-top 1px solid #dddddd
    background-color #ffffff
  }
}
.navbar > .list.-on {
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
}
.navbar > .list > .item {
  display block
  -webkit-flex-shrink 0
  -ms-flex-negative 0
  flex-shrink 0
  height 53px
  line-height 64px
  padding-left 22px
  padding-right 22px
  color nav-font-color
  font-size 16px
}

.navbar > .list > .item.-link {
  line-height 54px
  color nav-font-color
  border-bottom 2px solid transparent
  cursor pointer
  text-decoration none
}
.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
  color #333333
  border-bottom-color nav-font-color
}
.navbar > .list > .item.-link > a {
  text-decoration none
  color nav-font-color
}

.navbar > .list > .item.-link:hover a {
  text-decoration none
  color #333333
}

/* Dropdown Button */
.dropbtn {
  color #199CC4
  overflow auto
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position relative
  display inline-block
  cursor pointer
}

.dropdown:hover .dropbtn {
  color black
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display none
  position absolute
  background-color #f9f9f9
  left -29px
  min-width 160px
  box-shadow 0px 5px 10px 0px rgba(0,0,0,0.2)
}

.dropdown-display {
  display block
  padding-top 5px
  padding-bottom 5px
  left 23px
  bottom 70px
  cursor pointer
}

/* Links inside the dropdown */
.dropdown-content a {
  color black
  padding 0px 16px
  text-decoration none
  display block
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdownhover .dropdown-content {
  display block
}

@media (max-width 380px) {
  .navbar > .list > .item {
    padding-left 12px
    padding-right 12px
  }
  .dropdown-content {
    left -80px
  }
}

.navbar > .toggle {
  outline none
  border 0
  display inline-block
  background-color transparent
  background-image none
  vertical-align middle
  text-align center
  white-space nowrap
  cursor pointer
  -ms-touch-action manipulation
  touch-action manipulation
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  padding 18px
  color #199CC4
}
@media (min-width 768px) {
  .navbar > .toggle {
    display none
  }
}
.navbar > .toggle > .iconn {
  position relative
  margin-top 8px
  margin-bottom 8px
}
.navbar > .toggle > .iconn,
.navbar > .toggle > .iconn:before,
.navbar > .toggle > .iconn:after {
  display block
  width 24px
  height 3px
  -webkit-transition background-color 0.3s linear, -webkit-transform 0.3s linear
  transition background-color 0.3s linear, -webkit-transform 0.3s linear
  transition background-color 0.3s linear, transform 0.3s linear
  transition background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear
  background-color #555555
}
.navbar > .toggle > .iconn:before,
.navbar > .toggle > .iconn:after {
  position absolute
  content ""
}
.navbar > .toggle > .iconn:before {
  top -8px
}
.navbar > .toggle > .iconn:after {
  top 8px
}
.navbar > .toggle.-active > .iconn {
  background-color transparent
}
.navbar > .toggle.-active > .iconn:before {
  -webkit-transform translateY(8px) rotate(45deg)
  transform translateY(8px) rotate(45deg)
}
.navbar > .toggle.-active > .iconn:after {
  -webkit-transform translateY(-8px) rotate(-45deg)
  transform translateY(-8px) rotate(-45deg)
}