@import "header.styl"
@import "login.styl"
@import "validate.styl"
@import "loader.styl"
@import "notification.styl"
@import "dropdown.styl"
@import "proifle.styl"
@import "dialog.styl"
@import "target.styl"

body
  background-color whitesmoke
  margin 0

*
  font-size 100%
  font-family "PT Sans"

h1
  font-size 45px
  text-decoration none
  margin 10px

h2
  font-size 25px
  text-decoration none
  margin 10px
  
input
  width 100%
  padding 10px 10px
  margin 8px 0
  box-sizing border-box

label
  float left

button
  border none

.card
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  transition 0.3s
  width 28%
  margin 0 auto
  padding-top 30px
  padding-bottom 30px
  padding-left 20px
  padding-right 20px
  background white
  text-align center

.card:hover
  box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)

.default-button
  margin-top 10px
  width 150px
  height 40px
  background-color limegreen
  color white
  cursor pointer

.default-button:active
  background-color forestgreen

.default-button:hover
  opacity 0.9

.main-container
  background-image url("../images/pexels-photo.jpg")
  background-size cover
  display flex
  align-items center
  justify-content space-around
  padding 0 100px
  height 630px
  color white

.second-container
  display flex
  align-items center
  justify-content space-around
  padding 0 100px
  height 350px
  color limegreen

.material-icons.md-48
  font-size 85px
  margin 0 auto
  display table

.second-container h2
  color: #777777
  text-align center

.footer
  background-image url("../images/wBMETQi.jpg")
  background-size cover
  background-position bottom
  display flex
  align-items center
  justify-content space-around
  padding 0 100px
  height 230px
  color white

.footer img
  cursor pointer