.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  //z-index: 99;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid limegreen;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-back {
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
}

