.success-notification
  position fixed
  background-color limegreen
  width 27%
  height 60px
  right 3%
  top 50px
  color white
  opacity 0.8
  text-align center
  line-height 60px

  animation-name: appearance;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;

.success-notification > span
  font-size 17px

.error-notification
  position fixed
  background-color darkred
  width 27%
  height 60px
  right 3%
  top 50px
  color white
  opacity 0.8
  text-align center
  line-height 60px
  animation-name: appearance;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;

.error-notification > span
  font-size 17px


@keyframes appearance {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}

@keyframes unappearance {
  0% {
    transform: translateX(0);
    opacity: 0.8;
  }
  100% {
    transform: translateX(115%);
    opacity: 0;
  }
}

.success-notification:hover
  opacity 1
  cursor pointer

.error-notification:hover
  opacity 1
  cursor pointer

.success-notification:active
  opacity 0.4

.error-notification:active
  opacity 0.4