.profile-card
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  transition 0.3s
  width 28%
  margin 0 auto
  padding 20px
  background white
  text-align center

.profile-card:hover
  box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)

.profile-card component
  display flex
  //justify-content center
  align-items center
  padding-left 30px

.material-icons.profile-icon
  font-size 36px
  margin 8px
  color limegreen

.material-icons.profile-icon-small
  font-size 18px
  margin 8px
  color red

.editor
  cursor pointer
  
.material-icons.profile-icon-small:hover
  color darkred

.forgot-password
  margin 10px