.target-flex
  display flex
  justify-content center
  align-items center

.target-card
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  transition 0.3s
  margin 6px
  width 800px
  padding 20px
  background white
  text-align center

.target-card-panel
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  transition 0.3s
  width 11%
  margin 6px
  padding 20px
  background white
  text-align center

.target-card:hover
  box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)

.target-card-panel:hover
  box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)

.target-card-panel .link
  text-decoration none

.dropzone
  width 100%
  height 120px
  border-width 2px
  border-color rgb(102, 102, 102)
  border-style dashed
  border-radius 5px
  text-align center
  display table
  cursor pointer
  -webkit-transition: background-color 1s
  transition: background-color 0.6s
  margin 8px auto

.dropzone:hover
  background-color limegreen
  opacity 0.8

.dropzone:hover .droptext
  color: white

.droptext
  display table-cell
  vertical-align middle
  transition 0.6s

.target-table
  margin 0 auto
  border-collapse collapse

.target-table th, .target-table td
  padding 10px 30px

.target-table th
  border-bottom 1px solid limegreen

.target-table tr
  transition background-color 0.5s

.target-table tr:hover
  background-color #f5f5f5

.delete-icon-target
  cursor pointer

.delete-icon-target:hover
  color darkred