.has-success > input
  border-style solid
  border-color limegreen
  border-width 1.5px

.has-error > input
  border-style solid
  border-color darkred
  border-width 1.5px

.error-text
  color darkred